@import url("reset.css");
@import url("variables.css");

* {
	font-family: var(--font-base);
}

h1 {
	font-family: var(--font-title);
	font-size: var(--text-5xl);
	letter-spacing: calc(var(--text-5xl) * 0.15);
}

h2 {
	font-family: var(--font-title);
	font-size: var(--text-4xl);
}

h3 {
	font-size: var(--text-2xl);
}

p {
	font-size: var(--text-base);
}

li {
	font-size: var(--text-base);
}

html,
body {
	width: 100dvw;
	height: auto;
	display: flex;
	flex-direction: column;
	background: var(--color-light);
	overflow-x: hidden;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-primary);
	color: var(--color-light);
	padding: var(--space-6) var(--space-7);
	position: relative;

	& nav {
		height: auto;
		width: auto;
		display: flex;
		flex-direction: row;
		gap: var(--space-8);

		& ul {
			display: flex;
			gap: var(--space-8);
		}
	}
}

#menu-toggle {
	display: none;
	flex-direction: column;
	gap: var(--space-2);
	background: none;
	border: none;
	cursor: pointer;
}

#menu-toggle span {
	width: 2em;
	height: 3px;
	background: var(--color-light);
	border-radius: 2px;
	transition: 0.3s;
}

@media (max-width: 768px) {
	#menu-toggle {
		display: flex;
	}

	header nav {
		width: 100%;
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		background: var(--color-primary);
		flex-direction: column;
		padding: var(--space-6);
		z-index: 2;
	}

	nav.active {
		display: flex;
	}

	nav ul {
		display: flex;
		flex-direction: column;
		gap: var(--space-6);
	}

	nav a {
		color: var(--color-light);
	}
}

main {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: var(--space-7);
	color: var(var(--color-dark));
}

.hero {
	position: relative;
	width: 100%;
	min-height: 25em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--color-surface);
	color: var(--color-light);
	border-bottom-right-radius: var(--radius-xl);
	border-bottom-left-radius: var(--radius-xl);
	padding-inline: var(--space-7);

	& img {
		width: 100%;
		height: 100%;
		position: absolute;
		object-fit: cover;
	}

	& h1 {
		z-index: 1;
	}
}

section {
	display: flex;
	flex-direction: column;
	gap: var(--space-7);
	padding-inline: var(--space-7);
	padding-block: var(--space-6);
}

.title {
	display: inline-flex;
	align-items: center;
	gap: var(--space-6);
	width: 100%;

	& h2 {
		white-space: nowrap;
	}
}

.title::after {
	content: "";
	background-color: var(--color-surface);
	height: 2px;
	width: 100%;
	border-radius: var(--radius-full);
}

#grid {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
	gap: var(--space-7);
}

.card {
	max-width: 25em;
	border: 2px solid var(--color-surface);
	border-radius: var(--radius-lg);
	overflow: hidden;
	box-shadow: 12px 12px 0px var(--color-dark-surface);

	& img {
		aspect-ratio: 3/2;
		object-fit: cover;
	}

	& .card__text {
		display: flex;
		flex-direction: column;
		gap: var(--space-2);
		padding: var(--space-6);

		& p {
			color: var(--color-surface);
		}
	}

	& .card__control {
		display: flex;
		justify-content: space-between;
		padding: var(--space-6);

		& .control--reffer {
			font-weight: var(--weight-bold);
			font-size: var(--text-2xl);
		}
	}
}

button {
	background-color: var(--color-primary);
	color: var(--color-light);
	font-weight: var(--weight-bold);
	padding-inline: var(--space-6);
	padding-block: var(--space-4);
	border-radius: var(--radius-lg);

	&:hover {
		filter: brightness(1.3);
	}
}

section:nth-child(3) {
	color: var(--color-light);
	background-color: var(--color-primary);
	padding-block: var(--space-12);

	& .title::after {
		background-color: var(--color-light-surface);
	}

	& .container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: auto;
		width: 100%;

		& .container__text {
			display: flex;
			flex-direction: column;
			text-align: center;
			max-width: 60em;
			width: 100%;
			gap: var(--space-8);
			padding-block: var(--space-9);

			& h2 {
				font-size: var(--text-4xl);
				font-family: var(--font-base);
			}

			& p {
				color: var(--color-light-surface);
			}
		}
	}
}

.card-group {
	width: 100%;
	display: flex;
	gap: var(--space-6);
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.tile-card {
	max-width: 22em;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background: var(--color-light);
	color: var(--color-dark);
	border-radius: var(--radius-xl);
	padding: var(--space-6);
	gap: var(--space-4);

	& .tile-card__text {
		display: flex;
		flex-direction: column;
		gap: var(--space-2);

		& p {
			color: var(--color-surface);
		}
	}
}

.tile-card__icon {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--color-light-surface);
	border-radius: var(--radius-md);
	padding: var(--space-3);

	& i {
		scale: 1.5;
		color: var(--color-primary);
	}
}

footer {
	background: #2b1f1f;
	color: var(--color-light);
	padding: var(--space-7);
	display: flex;
	flex-direction: column;
	gap: var(--space-6);

	& h1 {
		padding-block: var(--space-2);
		border-bottom: 3px solid var(--color-light-surface);
	}
}

.footer__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--space-4);
}

.group-social {
	display: flex;
	gap: var(--space-4);
}

.group-social__icon {
	width: auto;
	height: auto;
	border: 1px solid var(--color-surface);
	border-radius: var(--radius-md);
	padding: var(--space-3);

	i {
		scale: 1.5;
	}
}
